header{
    background-color: black;
    padding: 20px;
    /* margin: 20px; */
}

.logo{
    width: 50px;
}

.logo img{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li button{
    background-color: lime;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
}
/* .study{
    width: 400px;
    height: 400px;
}

.study img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hero-sec{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-text{
    width: 30%;
}
.hero-text h1{
    font-size: 4rem;
    text-align: center;
}
.hero-text p{
    text-align: center;
    color: gray;
    font-size: 1.5rem;
    font-style: italic;
} */

.study-image{
    width: 400px;
    height: 400px;
}
.study-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sec-text{
    width: 30%;
}

.sec-text h1{
    font-size: 4rem;
    text-align: center;
}
.sec-text p{
    text-align: center;
    color: grey;
    font-style: italic;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.school-info ul li{
    margin-bottom: 10px;
    list-style-type: none;

}
.school-socails ul{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}
.school-socails  p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}